
</head>
<body>

<div class="header_browse">
</div> 

<div class="nav_bar">	
</div>

<div class="main_browse"> 
<%= link_to image_tag("Firefox_wallpaper.png"), root_path, class: "back_to_root" %>
</div>

<div class="footer">
</div>