
</head>
<body>

<div class="nav_bar">	
</div>

<div class="header_welcome">
</div> 

<div class="main_welcome"> 
<%= link_to "Browse", browse_index_path, class: "link_to_browse" %>

<table>
<tbody>
<% @user.each do |user| %>
<tr>
<td> 
<%= link_to(user) do %>
	<%= user.username %> 
<% end %>
</td>
</tr>
<% end %>
</tbody>
</table>

</div>

<div class="footer">
</div>