
</head>
<body>

<div class="nav_bar">	
</div>

<div class="header_welcome">
</div> 

<div class="main_welcome"> 
<div class="center_div"> 

<%= link_to "Browse", browse_index_path, class: "link_to_browse" %>

<%= div_for(@user, class: "user_div") do |user|%>
	<%= link_to(user) do %>
		<%= user.username %>
	<% end -%>
<% end -%>

</div>
</div>

<div class="footer">
</div>